@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;1,400&display=swap');

@tailwind base;

html,
body,
#app {
	height: 100%;
	width: 100%;
}

@tailwind components;
@tailwind utilities;
